<div chat></div>

<form send-message>
    <input type="text" placeholder="Name">
    <div>
        <input type="text" placeholder="Message...">
        <input type="submit" value="Send">
    </div>
</form>