// Colors
$mycolor: purple;

// Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 960px;
$breakpoint-tablet: 780px;
$breakpoint-mobile: 400px;

// Fonts
$font-light: "Custom_font_light", "Roboto", "Arial", sans-serif;
$font-book: "Custom_font_book", "Roboto", "Arial", sans-serif;
$font-medium: "Custom_font_medium", "Roboto", "Arial", sans-serif;
$font-bold: "Custom_font_bold", "Roboto", "Arial", sans-serif;