@import './base/_base.scss';
@import './layout/_layout.scss';

body {
    background: $base-color;
    padding: 20px;
}

section {
    background: $main-color;
    max-width: 600px;
    margin: auto;
    height: calc(100vh - 2 * 20px);
    position: relative;

    [chat] {
        padding: 10px;
        height: 90%;
        overflow: scroll;
        font-family: $font-book;
    }

    div > div {
        background-color: white;
        width: fit-content;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 8px;
    }

    div > div.you {
        margin-left: auto;
    }

    form {
        position: absolute;
        bottom: 0;
        width: calc(100% - 16px);
        display: flex;
        padding: 8px;

        input {
            padding: 12px;
            font-size: 14px;
            font-family: $font-book;
            border-radius: 5px;
        }

        input[type="text"] {
            flex-grow: 2;
            margin-right: 8px;
        }
    }
}