@import './base/_base.scss';
@import './layout/_layout.scss';

body {
    background: $base-color;
}

[chatpage] {
    background: $main-color;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    [chat] {
        padding: 10px;
        overflow: scroll;
        font-family: $font-book;
        flex-grow: 1;
    }

    div > div.user {
        background-color: white;
        width: fit-content;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;

        img {
            padding: 0px 8px;
            width: 24px;
        }
    }

    div > div.you {
        margin-left: auto;
    }

    div > div.command, div > div.server, div > div.emote {
        width: fit-content;
        font-family: $font-light;
        font-size: 12px;
        padding: 8px;
    }

    div > div.command, div > div.emote {
        margin: auto;
        opacity: .7;
    }

    div > div.server {
        margin: auto;
    }

    form {
        width: calc(100% - 16px);
        display: flex;
        padding: 8px;
        flex-direction: column;

        > input {
            margin-bottom: 8px;
        }

        input {
            padding: 12px;
            font-size: 14px;
            font-family: $font-book;
            border-radius: 5px;
        }

        div {
            display: flex;

            input[type="text"] {
                flex-grow: 1;
                margin-right: 8px;
            }
        }
    }
}