@import './base/_base.scss';
@import './layout/_layout.scss';

html, body {
    height: 100%;
}

body {
    background: $base-color;
}

[main] {
    background: $main-color;
    height: 100%;
    display: flex;
    
    [chat-container] {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    [chat] {
        padding: 10px;
        overflow: scroll;
        font-family: $font-book;
        flex-grow: 1;

        div {
            padding: 8px 0px;
        }

        .server {
            color: black;
            font-size: 12px;
            text-align: center;
        }
    }

    form {
        width: calc(100% - 20px);
        display: flex;
        padding: 10px;
        flex-direction: column;

        > input {
            margin-bottom: 10px;
        }

        input {
            padding: 12px;
            font-size: 16px;
            font-family: $font-book;
            border-radius: 5px;
        }

        div {
            display: flex;

            input[type="text"] {
                flex-grow: 1;
                margin-right: 10px;
            }
        }
    }

    [grocery-container] {
        flex-grow: 2;
        max-width: 500px;
        min-width: 300px;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: white;
        font-family: $font-book;
        position: relative;

        ul li {
            padding: 8px 0px;
            border-bottom: 2px solid lightgrey;
            display: flex;
            justify-content: space-between;
        }

        button {
            position: absolute;
            bottom: 10px;
            right: 10px;
            padding: 12px;
            font-size: 16px;
            font-family: "Source Code Pro",Roboto,Arial,sans-serif;
            border-radius: 5px;
        }
    }

    [drinks] {
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-family: $font-book;
        overflow-y: scroll;
    
        article {
            width: fit-content;
            padding: 8px;
            margin: 4px;
            background-color: $main-color;
            width: 240px;
            background-color: white;

            p {
                margin: auto;
                padding: 8px 0px;
                text-align: center;
            }
    
            img {
                width: 240px;
            }
        }
    }
}
