// Colors
$main-color: #EBB22E;
$base-color: #ffffff;

// Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 960px;
$breakpoint-tablet: 780px;
$breakpoint-mobile: 400px;

// Fonts
$font-light: "Source Code Pro", "Roboto", "Arial", sans-serif;
$font-book: "Source Code Pro", "Roboto", "Arial", sans-serif;
$font-medium: "Source Code Pro", "Roboto", "Arial", sans-serif;
$font-bold: "Source Code Pro", "Roboto", "Arial", sans-serif;